@model ErrorViewModel
@{
    ViewData["Title"] = "错误出现了";
}

<h1 class="text-danger">网页走丢了</h1>
<h2 class="text-danger">发生了开发小哥哥也没预料到的错误</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>错误信息：</strong>@(Model.Message ?? "无")
</p>
