@using Coching.Model;
@model NodesViewModel

@{
    Layout = null;
}

<style>
    .nodes img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
</style>

<div class="nodes">
    @foreach (var n in Model.Nodes)
    {
        <div class="layout-row">
            <div class="flex">
                <div>@n.Name</div>
                <div></div>
            </div>
            <div>
                <img src="@Url.header(n.Worker?.Header ?? n.Creator.Header)"/>
                <div>@n.getStatusInfo()</div>
            </div>
        </div>
    }
</div>